@use '../../../styles/variables.scss' as *;

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  background: $background-accent;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 24px;
}

.subtitle {
  color: $text-subtitle-color;
  margin-bottom: 0;
}

.content {
  background: $background-accent;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 24px;
  flex: 1;
}

.center { display: flex; align-items: center; justify-content: center; height: 100%; }


